In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
data=pd.read_csv(r'Churn_Modelling.csv')

In [15]:
data.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [16]:
# Preprocessing the data dropping the columns

data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [17]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [18]:
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [20]:
one_encoder_geo=OneHotEncoder()
hot_enc=one_encoder_geo.fit_transform(data[['Geography']])

In [22]:
hot_enc.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [23]:
geo_encoded_df=pd.DataFrame(hot_enc.toarray(),columns=one_encoder_geo.get_feature_names_out(['Geography']))

In [24]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [28]:
data=data.drop(['Geography'],axis=1)

In [26]:
data=pd.concat([data,geo_encoded_df],axis=1)

In [29]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [31]:
# save encoders
with open('one_encoder_geo', 'wb') as file:
    pickle.dump(one_encoder_geo, file)
with open('label_encoder_gender', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

In [32]:
# Dividing the data into features and target variable

X=data.drop(['Exited'],axis=1)
Y=data['Exited']

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [34]:
# scaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [35]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN

In [41]:
import tensorflow as tf

In [37]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
import datetime

In [38]:
model=Sequential(
    [Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  # input layer
        Dense(32,activation='relu'),  # hidden layer
        Dense(1,activation='sigmoid')  # output layer
     ]
)

2025-07-11 16:47:20.147504: I metal_plugin/src/device/metal_device.cc:1154] Metal device set to: Apple M4 Pro
2025-07-11 16:47:20.147565: I metal_plugin/src/device/metal_device.cc:296] systemMemory: 24.00 GB
2025-07-11 16:47:20.147576: I metal_plugin/src/device/metal_device.cc:313] maxCacheSize: 8.00 GB
2025-07-11 16:47:20.147638: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2025-07-11 16:47:20.147677: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [39]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [42]:
import tensorflow

In [43]:
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.001)

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [45]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [46]:
# Setup
log_dir='log/fit'+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [47]:
from tensorflow.keras.callbacks import TensorBoard,EarlyStopping
tensorflow_callbacks=TensorBoard(log_dir=log_dir, histogram_freq=1)

In [50]:
# Early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=50, restore_best_weights=True)

In [51]:
history=model.fit(X_train,Y_train,validation_data=(X_test,Y_test),epochs=100,callbacks=[tensorflow_callbacks,early_stopping])

Epoch 1/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4389 - accuracy: 0.8069 - val_loss: 0.4190 - val_accuracy: 0.8165
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4382 - accuracy: 0.8083 - val_loss: 0.4259 - val_accuracy: 0.8135
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4406 - accuracy: 0.8076 - val_loss: 0.4221 - val_accuracy: 0.8230
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4401 - accuracy: 0.8080 - val_loss: 0.4203 - val_accuracy: 0.8080
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4408 - accuracy: 0.8071 - val_loss: 0.4314 - val_accuracy: 0.8170
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4493 - accuracy: 0.8059 - val_loss: 0.4211 - val_accuracy: 0.8150
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4593 - accuracy: 0.8039 - val_loss: 0.4439 - val_accuracy: 0.8100
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4585 - accuracy: 0.8015 - val_loss: 0.4495 - val_accuracy: 0.8050
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4831 - accuracy: 0.7977 - val_loss: 0.4257 - val_accuracy: 0.8225
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4952 - accuracy: 0.7919 - val_loss: 0.4402 - val_accuracy: 0.8110
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.5002 - accuracy: 0.7854 - val_loss: 0.4830 - val_accuracy: 0.8065
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5058 - accuracy: 0.7969 - val_loss: 0.5249 - val_accuracy: 0.7660
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5350 - accuracy: 0.7854 - val_loss: 0.4723 - val_accuracy: 0.8065
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5395 - accuracy: 0.7857 - val_loss: 0.5712 - val_accuracy: 0.7690
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5342 - accuracy: 0.7864 - val_loss: 0.4322 - val_accuracy: 0.8070
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5002 - accuracy: 0.7928 - val_loss: 0.4343 - val_accuracy: 0.8180
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5815 - accuracy: 0.7738 - val_loss: 0.6708 - val_accuracy: 0.7860
Epoch 18/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5854 - accuracy: 0.7788 - val_loss: 0.4322 - val_accuracy: 0.8140
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5769 - accuracy: 0.7846 - val_loss: 0.5015 - val_accuracy: 0.7740
Epoch 20/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6221 - accuracy: 0.7753 - val_loss: 0.4586 - val_accuracy: 0.8135
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 0.5945 - accuracy: 0.7849 - val_loss: 0.4910 - val_accuracy: 0.7845
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6498 - accuracy: 0.7745 - val_loss: 0.6291 - val_accuracy: 0.7340
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6856 - accuracy: 0.7682 - val_loss: 0.6947 - val_accuracy: 0.6790
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6404 - accuracy: 0.7742 - val_loss: 0.4741 - val_accuracy: 0.8125
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6867 - accuracy: 0.7682 - val_loss: 0.6219 - val_accuracy: 0.7315
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6662 - accuracy: 0.7759 - val_loss: 0.6391 - val_accuracy: 0.7645
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6273 - accuracy: 0.7731 - val_loss: 0.5222 - val_accuracy: 0.7915
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7128 - accuracy: 0.7713 - val_loss: 0.4456 - val_accuracy: 0.8155
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7959 - accuracy: 0.7638 - val_loss: 0.7928 - val_accuracy: 0.7255
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6806 - accuracy: 0.7751 - val_loss: 1.1470 - val_accuracy: 0.6100
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6162 - accuracy: 0.7831 - val_loss: 0.5926 - val_accuracy: 0.7980
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7660 - accuracy: 0.7665 - val_loss: 0.6772 - val_accuracy: 0.7960
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.8536 - accuracy: 0.7499 - val_loss: 0.6899 - val_accuracy: 0.7895
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7345 - accuracy: 0.7751 - val_loss: 0.6946 - val_accuracy: 0.7180
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 0.9187 - accuracy: 0.7558 - val_loss: 0.5244 - val_accuracy: 0.8180
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 0.9326 - accuracy: 0.7581 - val_loss: 0.5357 - val_accuracy: 0.7770
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.9192 - accuracy: 0.7561 - val_loss: 3.7696 - val_accuracy: 0.6605
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 0.9208 - accuracy: 0.7610 - val_loss: 1.6745 - val_accuracy: 0.6015
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.7887 - accuracy: 0.7631 - val_loss: 0.9825 - val_accuracy: 0.7740
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 1.1153 - accuracy: 0.7490 - val_loss: 0.7451 - val_accuracy: 0.7505
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 1.0512 - accuracy: 0.7574 - val_loss: 0.8059 - val_accuracy: 0.7960
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 0.9495 - accuracy: 0.7592 - val_loss: 1.2528 - val_accuracy: 0.7060
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.8052 - accuracy: 0.7629 - val_loss: 0.5692 - val_accuracy: 0.8000
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.9343 - accuracy: 0.7444 - val_loss: 1.5335 - val_accuracy: 0.6185
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.9832 - accuracy: 0.7500 - val_loss: 0.7597 - val_accuracy: 0.7865
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 1.2255 - accuracy: 0.7459 - val_loss: 1.1230 - val_accuracy: 0.7865
Epoch 47/100
250/250 [==============================] - 1s 3ms/step - loss: 1.2343 - accuracy: 0.7393 - val_loss: 0.5803 - val_accuracy: 0.8000
Epoch 48/100
250/250 [==============================] - 1s 3ms/step - loss: 1.0604 - accuracy: 0.7508 - val_loss: 0.7830 - val_accuracy: 0.7575
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 1.2155 - accuracy: 0.7402 - val_loss: 0.7950 - val_accuracy: 0.7805
Epoch 50/100
250/250 [==============================] - 1s 3ms/step - loss: 1.1927 - accuracy: 0.7517 - val_loss: 0.5376 - val_accuracy: 0.8080
Epoch 51/100
250/250 [==============================] - 1s 3ms/step - loss: 1.0395 - accuracy: 0.7544 - val_loss: 0.9361 - val_accuracy: 0.7525

In [52]:
model.save('model.h5')

/Users/sragh/Desktop/GenAI/ANN/annvenv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [61]:
%reload_ext tensorboard

In [66]:
%tensoboard --logdir log/fit

UsageError: Line magic function `%tensoboard` not found.

In [59]:
%load_ext tensorboard.notebook
%tensorboard --logdir {logs_base_dir}

RuntimeError: Use '%load_ext tensorboard' instead of '%load_ext tensorboard.notebook'.

In [ ]:
# load the model